---
import { Picture } from '@astrojs/image/components';

export type Props = {
  photos: {
    imagePath: string;
    aspectRatio: number;
  }[];
}

const photos = (Astro.props as Props).photos;
const col1 = photos.filter((_, index) => index % 3 === 0);
const col2 = photos.filter((_, index) => index % 3 === 1);
const col3 = photos.filter((_, index) => index % 3 === 2);
---
<div class="flex flex-row md:flex-col gap-3">
  <div class="flex flex-col gap-3">
    {col1.map((photo) => (
      <div class="image-item">
        <Picture src={photo.imagePath} 
          sizes="" 
          widths={[300]} 
          aspectRatio={photo.aspectRatio} />
      </div>
    ))}
  </div>
  <div class="gallery-column">
    {col2.map((photo) => (
      <div class="image-item">
        <Picture src={photo.imagePath} 
          sizes="" 
          widths={[300]} 
          aspectRatio={photo.aspectRatio} />
      </div>
    ))}
  </div>
  <div class="gallery-column">
    {col3.map((photo) => (
      <div class="relative cursor-pointer">
        <Picture src={photo.imagePath} 
          sizes="" 
          widths={[300]} 
          aspectRatio={photo.aspectRatio} />
      </div>
    ))}
  </div>
</div>
